body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #2b4149;
  font-size: 100px;
  border-radius: 100px;
  font-family: 'Condiment', cursive;
  border-color: #a32f80;
}

h2 {
  color: #2b4149;
  font-size: 70px;
  font: bold;
  border-radius: 40px;
  border-color: #a32f80;
}


.button_style {
  background-color:#2b4149;
}